body {
  justify-content: center;
  align-items: center;
}

.nocontainer {
  background-image: url(background.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.header a {
  color: white;
}

a.navitem:hover {
  color: white;
}

#start {
  color: black;
  margin-top: 300px;
}

.title {
  width: 200px;
  color: #909090;
  text-align: center;
}

#social-icons {
  margin-top: 60px;
  margin-bottom: 150px;
}

.cv {
  text-align: center;
  background-color: rgb(31, 31, 31);
  color: white;
}

.about {
  background-image: url(about.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.about-title {
  text-align: center;
  align-items: center;
}

#about-button {
  align-items: center;
  text-align: center;
  width: 250px;
  margin-top: 50px;
  background-color: transparent;
  color: black;
}

#discover-button {
  align-items: center;
  text-align: center;
  width: 200px;
  background-color: transparent;
  color: black;
}

#skill-button {
  align-items: center;
  text-align: center;
  width: 250px;
  background-color: transparent;
  color: black;
}

.skills p {
  border-radius: 8px;
  border: 1px solid rgba(31, 31, 31, 0.3);
  margin-top: 50px;
}

.footer {
  color: white;
  background-color: black;
}

.back-to-top {
  margin-top: 50px;
  margin-bottom: 20px;
  align-items: center;
  text-align: center;
}

.footer-social-icons {
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  text-align: center;
}

.signature {
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
  text-align: center;
}

.click-button button {
  width: 270px;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: blueviolet !important;
  border: none;
}

.fas {
  cursor: pointer !important;
  font-size: 40px !important;
  transition: 0.5s;
}

.fab {
  cursor: pointer !important;
  font-size: 40px !important;
  transition: 0.5s;
}

.btn-back-to-top {
  transition: 0.5s !important;
  background-color: teal !important;
  width: 250px;
  border: none !important;
  border-radius: 8px;
}

.btn-back-to-top:hover {
  background-color: #00bcd4 !important;
}

a {
  color: white !important;
  text-decoration: none;
}

.hover-header {
  color: white;
  opacity: 0.5;
}

.hover-header:hover {
  color: white;
  opacity: 1;
}

.hover-footer:hover {
  color: rgba(51, 51, 51, 0.5);
}
